<html>
<head>
	<style>
	h1 {color:navy;}
	body {background-color:green;}
	p {color:yellow;}
	</style>
<title> World Wrestling Entertainment </title>
</head>
<body>
<div>
	<div class = img; position:right>
		<img src="{{MEDIA_URL}}/static/2.jpg">
	</div>
</div>
<h1> Name = {{ player.name }}</h1>
<p>Total No. of Fights = {{ player.fight }}</p>
<p>Weight = {{ player.weight }}</p>
<p>Height = {{ player.height }}</p>
<p>Rank = {{ player.rank }}</p>
<p>Chest = {{ player.chest }}</p>
<p>Biceps = {{ player.biceps }}</p>
</body>
</html>
